@{
    Layout = null;
}

<!--<?php
    session_start();
    if ($_SESSION['user']['type'] != '1')
    {
        header('Location: /admin/login');
    }
    require '../vendor/connection.php';
    $connection = open_connection('information_schema');
?>-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Roboto+Mono&family=Ruda:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/admin/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/admin/css/admin.css">
</head>
<body>
    <!--<?php
        if ($_SESSION['user']['type'] == 1)
        {?>
            <div class="profile">
                <div class="username"><?= $_SESSION['user']['login'] ?></div>
                <a href="/admin/src/logout.php" class="logout">Выйти</a>
            </div>
        <?php }
    ?>-->
    <div class="profile">
        <div class="username">@ViewBag.UserName</div>
        <a href="/api/auth/logout" class="logout">Выйти</a>
    </div>
    <div class="container">
        <div class="panel">
            <a href="/" id="logo">АГУ<br>Спорт</a>
            <a href="#" id="view_link">Обзор</a>
        </div>
        <div class="view">
            <div class="block" id="tables_block">
                <p class="block_title" id="tables_title">Таблицы</p>
                <!-- Таблицы -->
                <div class="tables_set">
                    <a href="#" class="table table_block">
                        <div class="table_title">TableName</div>
                        <p class="table_description">
                            Кол-во записей: @ViewBag.Rave<br>Последнее обновление: nikogda
                        </p>
                    </a>
                    <a href="#" class="table table_block">
                        <div class="table_title">TableName</div>
                        <p class="table_description">
                            Кол-во записей: 0<br>Последнее обновление: nikogda
                        </p>
                    </a>
                    <a href="#" class="table table_block">
                        <div class="table_title">TableName</div>
                        <p class="table_description">
                            Кол-во записей: 0<br>Последнее обновление: nikogda
                        </p>
                    </a>
                    <div class="extra_block table_block" id="other_tables_block">
                        <svg width="43" height="75" viewBox="0 0 43 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.66669 5.83334L37.3334 37.5L5.66669 69.1667" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none" />
                        </svg>
                    </div>
                    <!--<?php
                        $tables = $connection->query("SELECT table_name, table_rows, update_time FROM TABLES WHERE table_schema = 'asu.sport'");
                        $num_rows = $tables->num_rows;
                        if ($num_rows > 0)
                        {
                            for ($i = 0; $i < 3; $i ++)
                            {
                                $table = $tables->fetch_assoc();
                                $name = $table['table_name'];
                                $count = $table['table_rows'];

                                $format = "Y-m-d H:i:s";
                                if ($table['update_time'] != '')
                                {
                                    $date_object = DateTime::createFromFormat($format, $table['update_time']);
                                    $date = date_format($date_object, 'd.m.Y H:i:s');
                                }
                                else
                                {
                                    $date = 'нет данных';
                                }
                                ?>
                                <a href="#" class="table table_block">
                                    <div class="table_title"><?= $name; ?></div>
                                    <p class="table_description">
                                    Кол-во записей: <?= $count; ?><br>Последнее обновление: <?= $date; ?>
                                    </p>
                                </a><?php
                            }
                            if ($num_rows > 3)
                            {
                                ?>
                                <div class="extra_block table_block" id="other_tables_block">
                                    <svg width="43" height="75" viewBox="0 0 43 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.66669 5.83334L37.3334 37.5L5.66669 69.1667" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
                                    </svg>
                                </div>
                                <?php
                            }
                        }
                        -?>-->
                    <div class="extra_block table_block">
                        <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37 0C38.2266 0 39.403 0.487275 40.2704 1.35463C41.1377 2.22199 41.625 3.39837 41.625 4.625V32.375H69.375C70.6016 32.375 71.778 32.8623 72.6454 33.7296C73.5127 34.597 74 35.7734 74 37C74 38.2266 73.5127 39.403 72.6454 40.2704C71.778 41.1377 70.6016 41.625 69.375 41.625H41.625V69.375C41.625 70.6016 41.1377 71.778 40.2704 72.6454C39.403 73.5127 38.2266 74 37 74C35.7734 74 34.597 73.5127 33.7296 72.6454C32.8623 71.778 32.375 70.6016 32.375 69.375V41.625H4.625C3.39837 41.625 2.22199 41.1377 1.35463 40.2704C0.487275 39.403 0 38.2266 0 37C0 35.7734 0.487275 34.597 1.35463 33.7296C2.22199 32.8623 3.39837 32.375 4.625 32.375H32.375V4.625C32.375 3.39837 32.8623 2.22199 33.7296 1.35463C34.597 0.487275 35.7734 0 37 0V0Z" />
                            <!-- <path xmlns="http://www.w3.org/2000/svg" d="M54.454,23.18l-18.609-0.002L35.844,5.91C35.845,2.646,33.198,0,29.934,0c-3.263,0-5.909,2.646-5.909,5.91v17.269   L5.91,23.178C2.646,23.179,0,25.825,0,29.088c0.002,3.264,2.646,5.909,5.91,5.909h18.115v19.457c0,3.267,2.646,5.91,5.91,5.91   c3.264,0,5.909-2.646,5.91-5.908V34.997h18.611c3.262,0,5.908-2.645,5.908-5.907C60.367,25.824,57.718,23.178,54.454,23.18z"/> -->
                        </svg>
                    </div>
                </div>
                <!-- Таблицы -->
            </div>
            <div class="block" id="stat_block">
                <p class="block_title" id="stat_title">Статистика</p>
                <div class="empty"><p>Тут пока ничего нет(</p></div>
            </div>
        </div>
    </div>
    <div id="dash_info">admin dashboard ver. 0.0.1</div>
</body>
</html>
<!--<?php close_connection($connection) ?>-->
