<!--<?php session_start(); if ($_SESSION['user']['type'] == 1) { header('Location: /admin'); } ?>-->


@{
    Layout = null;
}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход в Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/css/login.css">
</head>
<body>
    <header>
        <div class="logo">АГУ<br>Спорт</div>
        <div class="title">Admin Dashboard</div>
    </header>
    <form>
        <p class="form_title">Вход</p>
        <label for="" id="login">
            <input type="text" name="login" placeholder="Логин">
        </label>
        <label for="" id="password">
            <input type="password" name="password" placeholder="Пароль">
        </label>
        <button type="submit" class="login-btn">Войти</button>
    </form>
    <img id="asu_logo" src="/img/asu.png" alt="Астраханский Государственный Университет">
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/admin/js/authentication.js"></script>
</body>
</html>
