@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тест подключения к БД PostgreSQL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Roboto+Mono&family=Ruda:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/admin/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="~/admin/css/admin.css">-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        div.main {
            margin: 2% 5%;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Таблица @ViewBag.TableName</h1>
                @{
                    int i = 0;
                    <table class="table">
                        @foreach (var row in ViewBag.TableData)
                        {
                            <thead>
                                @if (@i == 0)
                                {
                                    <tr>
                                        @foreach (var col in @row)
                                        {
                                            <th scope="col">@col</th>
                                        }
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @if (@i > 0)
                                {
                                    <tr>
                                        @foreach (var col in @row)
                                        {
                                            <td>@col</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            i++;
                        }
                    </table>
                }

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
