@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бассейн - 21 ноября - АГУ СПОРТ</title>
    <link rel="stylesheet" href="~/css/loader.css">
    <link rel="stylesheet" href="~/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app" class="container">
        <default-header></default-header>
        <div class="content">
            <events-block></events-block>
        </div>
    </div>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/vue.global.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/shared-components.js" type="module"></script>
    <script src="~/js/events.js" type="module"></script>
</body>
</html>