@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бассейн - 21 ноября - АГУ СПОРТ</title>
    <link rel="stylesheet" href="~/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app" class="container">
        <default-header></default-header>
        <div class="content">
            <events-block></events-block>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textfit/2.4.0/textFit.min.js"></script>
    <script src="~/js/shared-components.js"></script>
    <script src="~/js/events-for-the-day.js"></script>
</body>
</html>