@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная - АГУ СПОРТ</title>
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app" class="container">
        <default-header :routing="site_routing"></default-header>
        <div class="content">
            <p style="font-size: 35px;font-weight: 600;height: 100%;color: rgb(255, 255, 255);display: flex;align-items: center;justify-content: center;">Тут пока ничего нет</p>    
        </div>
    </div>
    <script src="~/js/vue.global.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textfit/2.4.0/textFit.min.js"></script>
    <script src="~/js/shared-components.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script>
        $("#objects").removeClass("selected")
        $("#news").addClass("selected")
    </script>
</body>
</html>
