@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Секции - АГУ СПОРТ</title>
    <link rel="stylesheet" href="~/css/loader.css">
    <link rel="stylesheet" href="~/css/table.css">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app">
        <sections-table-page></sections-table-page>
    </div>
    <script src="~/js/vue.global.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/sections-table.js" type="module"></script>
</body>
</html>