@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>АГУ Спорт - Добро пожаловать</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="headline">
                <div class="title">АГУ<br>Спорт</div>
                <div class="slogan">“Быстрее. Выше. Сильнее.” — Да...<br>но только с нами.</div>
            </div>
            <div class="announcement">
                <p class="announcement_text">Сайт находится в стадии разработки</p>
                <a href="/admin" class="to_admin_dashboard">В Admin Dashboard</a>
            </div>
        </header>
        <svg id="tape" viewBox="0 0 1920 272" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="-0.000244141" width="1920" height="272" fill="#F7E334"></rect>
            <path d="M1277 0.181274H1641.36L1913 271.819H1548.64L1277 0.181274Z" fill="black"></path>
            <path d="M641 0.181274H1005.36L1277 271.819H912.637L641 0.181274Z" fill="black"></path>
            <path d="M5 0.181274H369.362L641 271.819H276.637L5 0.181274Z" fill="black"></path>
        </svg>
    </div>
</body>
</html>
