/* ОБЩИЕ СТИЛИ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Ruda:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #000;
    transition: color .3s ease-out;
}

a:hover {
    color: #2f2f2f;
}

/* HEADER */
.header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 85px;
    font-size: 12px;
    padding: 0 30px;
    flex-shrink: 0;
    z-index: 2;
    width: 100vw;
}

.header.white-background {
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    height: 60px;
    align-items: center;
    justify-self: flex-start;
}

#asu-logo {
    height: 100%;
    margin-right: 10px;
}

/*.logo .description {*/
/*    margin-left: 20px;*/
/*}*/

.nav {

}

.nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    font-size: 15px;
}

.nav li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav li a {
    text-decoration: none;
    color: #000;
    transition: color .3s ease-out;
}

.nav li a:hover {
    color: #1f1f1f;
}

.nav li a.selected {
    font-weight: bold;
}

.auth {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: flex-end;
}

.auth a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

#sign-in {
    transition: color .3s ease-out;
}

#sign-in:hover {
    color: #2f2f2f;
}

#sign-up {
    padding: 9px 10px 11px 10px;
    border-radius: 20px;
    background: #CE2121;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: background .3s ease-out;
}

#sign-up:hover {
    background: #f12f2f;
}

.user .username {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    transition: color .3s ease-out;
    font-weight: 500;
    margin-right: 5px;
}

.user .username:hover {
    color: #3f3f3f;
}

.user .logout {
    font-size: 14px;
    text-decoration: none;
    color: #962020;
    transition: color .3s ease-out;
    font-weight: 500;
}

.user .logout:hover {
    color: #bd3e3e;
}
/*HEADER END*/

/* CONTENT SECTION */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
    padding-top: 120px;
}

.main-page-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}

.brief {
    display: flex;
    flex-direction: column;
    width: 27vw;
    margin-bottom: 180px;
    z-index: 1;
    animation: showOpacity 1s ease-out;
}

.brief.none-display {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

@keyframes showOpacity {
    from { opacity: 0; }
    to { opacity: 100%; }
}

.brief .title {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 8vw;
}

.brief .description {
    color: #fff;
    font-size: 1.2vw;
}

.objects {
    z-index: 1;
    display: flex;
    /*width: 800px;*/
    margin-top: 30px;
    justify-content: center;
}

.objects.wide {
    justify-content: left;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 30px;
}

.object {
    height: 370px;
    width: 230px;
    min-width: 230px;
    font-weight: 300;
    font-size: 16px;
    z-index: 1;
    border: 12px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    /* box-shadow: 0 61px 250px rgba(0, 0, 0, 0.11); */
    box-shadow: 0 15px 90px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(9px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
    padding: 25px;
    color: #fff;
    position: relative;
    margin: 0 10px;
}

@keyframes fromBelow {
    from { left: 100vh; opacity: 0; }
    to { left: 0; opacity: 1; }
}

.object:nth-child(3n + 2) {
    background: rgba(45, 121, 121, 0.58);
    /*animation: fromBelow 2s cubic-bezier(0, 0.24, 0.24, 1);*/
}

.object:nth-child(3n + 3) {
    background: rgba(62, 156, 30, 0.5);
    /*animation: fromBelow 2.5s cubic-bezier(0, 0.24, 0.24, 1);*/
}

.object:nth-child(3n + 4) {
    background: rgba(187, 19, 59, 0.54);
    /*animation: fromBelow 3s cubic-bezier(0, 0.24, 0.24, 1);*/
}


/*.object.red {
    background: rgba(226, 40, 84, 0.31);
}

.object.blue {
    background: rgba(45, 121, 121, 0.58);
}

.object.green {
    background: linear-gradient(9.7deg, rgba(88, 226, 40, 0.31) -1.36%, rgba(255, 255, 255, 0.31) 103.38%);
}*/

.object .title {
    font-size: 25px;
    font-weight: 600;
    min-height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -10px 0 0 0;
    color: #fff;
    transition: color .3s ease-out;
}

.object .title:hover {
    color: #ececec;
}

.object .time-range {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 25px;
}

.point {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.days-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.days-list .day {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    padding: 5px;
    /*width: 40px;*/
    font-weight: 500;
    flex-grow: 1;
    margin-right: 5px;
    transition: background .3s ease-out;
    cursor: pointer;
}

.days-list .day:hover {
    background: rgba(255, 255, 255, 0.53);
}

.days-list .day:last-child {
    margin-right: 0;
}

.days-list .day.null {
    width: auto;
    cursor: auto;
}

.days-list .day.null:hover {
    background: rgba(255, 255, 255, 0.24);
}

.average-cost .cost {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.background svg {
    margin-top: 17vh;
}

.background path {
    background: linear-gradient(92.25deg, #F45151 12.01%, #B81919 98.9%);
}

#bg-start-color {
    stop-color: #F45151;
}
#bg-stop-color {
    stop-color: #B81919;
}

.red-line-background {
    background: url("/img/background.svg") 50% calc(50% + 120px) no-repeat;
    background-size: 100%;
}

a.more-objects {
    display: flex;
    position: relative;
    /*top: 2vh;*/
    opacity: 100%;
    align-self: center;
    background: rgba(255, 255, 255, 0.42);
    fill: rgba(43, 49, 52, 0.67);
    justify-content: center;
    align-items: center;
    min-height: 80px;
    min-width: 40px;
    border-radius: 20px;
    transition: box-shadow .3s ease-out, opacity .3s ease-out, background .3s ease-out;
    box-shadow: 0 5px 20px -12px #000;
    padding: 10px;
    margin: 5px;
    backdrop-filter: blur(10px);
}

a.more-objects:hover {
    box-shadow: 0 2px 15px -12px #000;
    background: rgba(255, 255, 255, 0.8);
}
/*
.objects:hover a.more-objects {
    top: 0;
    opacity: 100%;
}
*/

a.more-objects svg {
    height: 100%;
    width: 100%;
}

/* CONTACTS */
.contacts-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacts-block {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    background: rgba(77, 126, 145, .8);
    border: 12px solid rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    padding: 25px;
    box-sizing: content-box;
    backdrop-filter: blur(10px);
}

.contacts-block a {
    color: #fff;
    font-weight: 600;
    margin: 5px 0;
}

.contacts-block a:hover {
    color: #efefef;
}

.contacts-block p {
    margin: 5px 0;
}

.map {
    border-radius: 20px;
    overflow: hidden;
    background: #ffffff00;
    box-shadow: inset 0 0 12px 12px #fff, 0 5px 30px -20px #2d2d2d;
    backdrop-filter: blur(10px);
    height: 400px;
    width: 600px;
    transition-property: width, height;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.map:hover {
    height: 405px;
    width: 607px;
}

.map iframe {
    opacity: 90%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* EVENTS FOR THE DAY */
.day-events-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.events {
    display: flex;
    flex-direction: column;
}

.event {
    width: 600px;
    background: #EFF6F6;
    border-radius: 25px;
    padding: 20px;
    height: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.capacity-line {
    background: #D8E4E6;
    border-radius: 7px;
    width: 14px;
    margin-right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.capacity-line .value {
    background: #6FE56D;
    border-radius: 7px;
    width: 14px;
    margin-top: auto;
    height: 80%;
}

.event .name {
    font-weight: 700;
    font-size: 20px;
}

.graph-info {
    display: flex;
    margin-top: 5px;
    color: #B9C5C6;
    font-weight: 500;
}

.duration {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}

.graph-info .duration img {
    height: 36px;
    margin-right: 5px;
}

.capacity-block {
    display: flex;
    align-items: center;
}

.capacity-block .count {
    font-size: 25px;
    margin-right: 2px;
}

.capacity-block .text {
    line-height: 10px;
    font-size: 12px;
}

.sign-up-for-an-event {
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background: #45ea5c;
    height: 80px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    transition: background .3s ease-out;
}

.sign-up-for-an-event:hover {
    background: #62f576;
    color: #fff;
}

.sign-up-for-an-event.signed {
    background: #cc5c5c;
    color: #ffffff;
}

.sign-up-for-an-event.signed:hover {
    background: #d16969;
}

.sport-object-name {
    font-size: 50px;
    font-weight: 700;
}

.current-date {
    font-size: 30px;
    font-weight: 300;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(180deg, #F3F7F8 0%, #F0F7F8 100%);
    border-radius: 20px;
    padding: 20px;
}

.month-selector {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.date-area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.date-area .day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.date-picker-block {
    display: flex;
    align-items: center;
}

.datepicker-toggle {
    display: inline-block;
    position: relative;
    height: 30px;
    aspect-ratio: 1;
    margin-left: 5px;
}

.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #000;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="31.622px" height="31.621px" viewBox="0 0 31.622 31.621" style="enable-background:new 0 0 31.622 31.621;" xml:space="preserve"> <g> <path d="M31.43,4.945c0-1.194-0.968-2.162-2.162-2.162h-3.656V0.882C25.612,0.395,25.217,0,24.73,0h-1.905    c-0.485,0-0.883,0.395-0.883,0.882v1.902H9.802V0.882C9.802,0.395,9.407,0,8.92,0H7.142C6.655,0,6.26,0.395,6.26,0.882v1.902H2.35    c-1.194,0-2.162,0.968-2.162,2.162v7.704h1.139v16.749c0,1.229,0.995,2.223,2.223,2.223h24.394c1.229,0,2.223-0.994,2.223-2.223    v-16.75h1.267L31.43,4.945L31.43,4.945z M26.624,25.73c0,1.229-0.994,2.223-2.223,2.223H7.218c-1.228,0-2.223-0.994-2.223-2.223    V12.649h21.628V25.73L26.624,25.73z"/> <rect x="8.031" y="15.051" width="3.541" height="3.669"/> <rect x="14.102" y="15.051" width="3.541" height="3.669"/> <rect x="20.172" y="15.051" width="3.542" height="3.669"/> <rect x="8.031" y="21.502" width="3.541" height="3.668"/> <rect x="14.102" y="21.502" width="3.541" height="3.668"/> <rect x="20.172" y="21.502" width="3.542" height="3.668"/> </g> </svg>') 50% 50% no-repeat;
    -webkit-mask-size: 80%;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="31.622px" height="31.621px" viewBox="0 0 31.622 31.621" style="enable-background:new 0 0 31.622 31.621;" xml:space="preserve"> <g> <path d="M31.43,4.945c0-1.194-0.968-2.162-2.162-2.162h-3.656V0.882C25.612,0.395,25.217,0,24.73,0h-1.905    c-0.485,0-0.883,0.395-0.883,0.882v1.902H9.802V0.882C9.802,0.395,9.407,0,8.92,0H7.142C6.655,0,6.26,0.395,6.26,0.882v1.902H2.35    c-1.194,0-2.162,0.968-2.162,2.162v7.704h1.139v16.749c0,1.229,0.995,2.223,2.223,2.223h24.394c1.229,0,2.223-0.994,2.223-2.223    v-16.75h1.267L31.43,4.945L31.43,4.945z M26.624,25.73c0,1.229-0.994,2.223-2.223,2.223H7.218c-1.228,0-2.223-0.994-2.223-2.223    V12.649h21.628V25.73L26.624,25.73z"/> <rect x="8.031" y="15.051" width="3.541" height="3.669"/> <rect x="14.102" y="15.051" width="3.541" height="3.669"/> <rect x="20.172" y="15.051" width="3.542" height="3.669"/> <rect x="8.031" y="21.502" width="3.541" height="3.668"/> <rect x="14.102" y="21.502" width="3.541" height="3.668"/> <rect x="20.172" y="21.502" width="3.542" height="3.668"/> </g> </svg>') 50% 50% no-repeat;
    mask-size: 80%;
    transition: background-color .3s ease-out;
}

.datepicker-toggle:hover .datepicker-toggle-button{
    background-color: #2d3436;
}

.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.date-block {
    position: relative;
}

.date-block .wrapper {
    position: relative;
}
