@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Ruda:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    background: linear-gradient(180deg, #F5F8F9 0%, #EAF0F2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    justify-items: center;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    background: #151515;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 -15px 11px #ffffff, 0 15px 10px -15px #00000047;
}

.header .back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    fill: #fff;
    cursor: pointer;
    transition: fill .3s ease-out;
}

.header .back:hover {
    fill: #d7d7d7;
}

.header .title {
}

.table {
    display: flex;
    flex-direction: column;
}

.table-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.table-controls .status {
    align-self: center;
    margin-right: auto;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.table-controls .status p {
    margin: 0 5px;
}

.table-controls .status.editing p, .table-controls .status.editing svg {
    color: #6C868D;
    fill: #6C868D;
}

.table-controls .status.success p, .table-controls .status.success svg {
    color: #36AE5A;
    fill: #36AE5A;
}

.table-controls .status.failed p, .table-controls .status.failed svg {
    color: #d3456b;
    fill: #d3456b;
}


.table table {
    table-layout: auto;
    border-spacing: 4px 4px;
    margin-bottom: 50px;
}

.table input {
    outline: none;
    border: none;
    background: none;
    color: #3f3f3f;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    transition: background .3s ease-out;
}

/*noinspection ALL*/
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
.table input::selection {
    background: #5e6869;
    color: #fff;
}

.table input:focus {
    background: #ffffff;
}

.table select {
    background: none;
    outline: none;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #3f3f3f;
    transition: background .3s ease-out;
}
/*
.table select::selection {
    background: #5e6869;
    color: #fff;
}*/

.table th {
    font-size: 12px;
    color: #2f2f2f;
}

.table tr td {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    transition: background .3s ease-out;
}

/*.table tr:hover input, .table tr:hover select {
    background: rgba(255, 255, 255, 0.7);
}*/

.table tr:hover td {
    background: rgba(255, 255, 255, 0.7);
}

.table tr input:hover, .table select:hover {
    background: rgba(255, 255, 255, 1);
}

.table button.delete {
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.table button.delete svg {
    fill: rgba(0,0,0,0);
    width: 20px;
    transition: fill .3s ease-out;
}

.table tr:hover button.delete svg {
    fill: rgba(100,0,0,.5);
}

.table tr button.delete:hover svg {
    fill: rgba(200,0,0,.9);
}

.bottom-button {
    outline: none;
    border: none;
    background: none;
    color: #7e898d;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    transition: color .3s ease-out;
    cursor: pointer;
    padding: 0 10px;
    margin: 5px 0;
    border-right: 2px solid #d0d0d0;
}

.bottom-button:last-child {
    border-right: none;
}

.bottom-button:hover {
    color: #495052;
}

.bottom-button.submit {
    color: #678a70;
}

.bottom-button.submit:hover {
    color: #4a9a63;
}