@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Ruda:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #F5F8F9 0%, #EAF0F2 100%);
    /*overflow: hidden;*/
}

.content {
    width: 960px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    height: 170px;
    box-shadow: 0 -40px 82px -24px #FFFFFF, 0 45px 193px -163px #000000;
}

.user .data {
    margin-left: 20px;
}

.user .data .full-name {
    font-weight: 700;
    font-size: 35px;
}

.user .data .full-name .admin {
    color: #7e7e7e;
    font-size: 28px;
    font-weight: 200;
}

.user .data p {
    margin: 2px;
}

.user .logout {
    align-self: center;
    margin-left: auto;
    height: 30%;
}

.user a.logout {
    text-decoration: none;
    color: #000;
}

.user .logout svg {
    height: 100%;
    fill: #CC3030;
    transition: fill .3s ease-out;
}

.user a.logout:hover svg {
    fill: #d95858;
}

.user img.photo {
    height: 100%;
    border-radius: 30px;
}

.data-block .title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 30px 0;
}

.data-block:last-child {
    margin-bottom: 100px;
}

.objects-grid {
    display: grid;
    gap: 10px;
    margin: 10px 45px;
}

.events {
    grid-template-columns: repeat(4, 1fr);
}

.objects-grid .empty {
    font-weight: 500;
    color: #3e3e3e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 5;
}

.object {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*height: 125px;
    width: 175px;*/
    background: #36BCDA;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: inset 0 0 0 100px #ffffff00, 0 10px 10px -10px #00000050, 0 -10px 10px -10px #FFFFFF50;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.object:hover {
    box-shadow: inset 0 0 0 100px #ffffff2e, 0 10px 10px -10px #00000050, 0 -10px 10px -10px #FFFFFF50;
}

.event {
    /*height: 125px;
    width: 175px;*/
    background: #36BCDA;
}

.event .name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.entities {
    grid-template-columns: repeat(3, 1fr);
}

.entity {
    padding: 24px;
    /*height: 180px;
    width: 270px;*/
    aspect-ratio: 6/4;
    background: #ED4D87;
    justify-content: space-between;
}

.entity.blue {
    background: #36BCDA;
}

.entity.blue:hover {
    background: #43d6f1;
}

.entity.green {
    background: #60DA36;
}

.entity.green:hover {
    background: #71f64a;
}

.entity.red {
    background: #ED4D87;
}

.entity.red:hover {
    background: #ef76a3;
}
.entity .name {
    font-weight: 600;
    font-size: 24px;
}

.entity .count {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;
    line-height: 60px;
    font-weight: 500;
    color: rgba(255,255,255, .4);
}
