@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Ruda:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #F5F8F9 0%, #EAF0F2 100%);
    /*overflow: hidden;*/
}

.content {
    max-width: 960px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    min-height: 175px;
    box-shadow: 0 -40px 82px -24px #FFFFFF, 0 45px 193px -163px #000000;
}

.user .data {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.user .data .full-name {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 35px;
    flex-wrap: wrap;
}

.user .data input {
    font-family: Roboto, sans-serif;
    background: #f0f6f6;
    color: #363d3d;
    padding: 4px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

.user .data input::placeholder {
    color: #aeb9b9;
}

.user .data input:disabled {
    background: none;
    color: #000;
    border-radius: 10px;
    outline: none;
    padding: 0;
    text-align: right;
    flex-grow: 1;
    margin: 0;
    width: 50%;
}

.user .data input:focus {
    background: #f7fafa;
}

.user .data .full-name input {
    font-weight: 700;
    font-size: 35px;
    margin-right: 4px;
    border-radius: 10px;
    padding: 2px 10px;
}

.user .data .full-name input:last-child {
    margin-right: 0;
}

.user .data .full-name .admin {
    color: #7e7e7e;
    font-size: 28px;
    font-weight: 200;
}

.user .data p {
    margin: 5px 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.user .data p span, .user input:disabled {
    font-weight: 500;
}

.user:hover .controls {
    opacity: 100%;
}

.user .controls {
    opacity: 50%;
    width: 100px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    /*height: 33%;
    margin-bottom: 4px;*/
    transition: opacity .3s ease-out;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.user .controls div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .controls .edit svg {
    cursor: pointer;
    height: 100%;
    fill: #92a6aa;
    transition: fill .3s ease-out;
}

.user .controls .save svg {
    cursor: pointer;
    height: 70%;
    fill: #74c289;
    transition: fill .3s ease-out;
}

.user .controls .save:hover svg {
    fill: #9ad9ac;
}

.user .controls .discard svg {
    cursor: pointer;
    height: 70%;
    fill: #cc5569;
    transition: fill .3s ease-out;
}

.user .controls .discard:hover svg {
    fill: #da7988;
}

.user .logout {
    align-self: center;
    margin: 0 10px;
    /*margin-left: auto;*/
    height: 40px;
}

.user a.logout {
    text-decoration: none;
    color: #000;
}

.user .logout svg {
    height: 100%;
    fill: #CC3030;
    transition: fill .3s ease-out;
}

.user a.logout:hover svg {
    fill: #d95858;
}

.user img.photo {
    height: 100%;
    border-radius: 30px;
}

.user .data .birth-date {
    display: flex;
    align-items: center;
}

.user .data .birth-date.editing {
    justify-content: space-between;
}

.user .data .phone-number {
    display: flex;
    align-items: center;
}

.user .data .phone-number.editing {
    justify-content: space-between;
}

.datepicker-toggle {
    display: inline-block;
    position: relative;
    height: 16px;
    aspect-ratio: 1;
    margin-left: 5px;
}

.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #000;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="31.622px" height="31.621px" viewBox="0 0 31.622 31.621" style="enable-background:new 0 0 31.622 31.621;" xml:space="preserve"> <g> <path d="M31.43,4.945c0-1.194-0.968-2.162-2.162-2.162h-3.656V0.882C25.612,0.395,25.217,0,24.73,0h-1.905    c-0.485,0-0.883,0.395-0.883,0.882v1.902H9.802V0.882C9.802,0.395,9.407,0,8.92,0H7.142C6.655,0,6.26,0.395,6.26,0.882v1.902H2.35    c-1.194,0-2.162,0.968-2.162,2.162v7.704h1.139v16.749c0,1.229,0.995,2.223,2.223,2.223h24.394c1.229,0,2.223-0.994,2.223-2.223    v-16.75h1.267L31.43,4.945L31.43,4.945z M26.624,25.73c0,1.229-0.994,2.223-2.223,2.223H7.218c-1.228,0-2.223-0.994-2.223-2.223    V12.649h21.628V25.73L26.624,25.73z"/> <rect x="8.031" y="15.051" width="3.541" height="3.669"/> <rect x="14.102" y="15.051" width="3.541" height="3.669"/> <rect x="20.172" y="15.051" width="3.542" height="3.669"/> <rect x="8.031" y="21.502" width="3.541" height="3.668"/> <rect x="14.102" y="21.502" width="3.541" height="3.668"/> <rect x="20.172" y="21.502" width="3.542" height="3.668"/> </g> </svg>') 50% 50% no-repeat;
    -webkit-mask-size: 80%;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="31.622px" height="31.621px" viewBox="0 0 31.622 31.621" style="enable-background:new 0 0 31.622 31.621;" xml:space="preserve"> <g> <path d="M31.43,4.945c0-1.194-0.968-2.162-2.162-2.162h-3.656V0.882C25.612,0.395,25.217,0,24.73,0h-1.905    c-0.485,0-0.883,0.395-0.883,0.882v1.902H9.802V0.882C9.802,0.395,9.407,0,8.92,0H7.142C6.655,0,6.26,0.395,6.26,0.882v1.902H2.35    c-1.194,0-2.162,0.968-2.162,2.162v7.704h1.139v16.749c0,1.229,0.995,2.223,2.223,2.223h24.394c1.229,0,2.223-0.994,2.223-2.223    v-16.75h1.267L31.43,4.945L31.43,4.945z M26.624,25.73c0,1.229-0.994,2.223-2.223,2.223H7.218c-1.228,0-2.223-0.994-2.223-2.223    V12.649h21.628V25.73L26.624,25.73z"/> <rect x="8.031" y="15.051" width="3.541" height="3.669"/> <rect x="14.102" y="15.051" width="3.541" height="3.669"/> <rect x="20.172" y="15.051" width="3.542" height="3.669"/> <rect x="8.031" y="21.502" width="3.541" height="3.668"/> <rect x="14.102" y="21.502" width="3.541" height="3.668"/> <rect x="20.172" y="21.502" width="3.542" height="3.668"/> </g> </svg>') 50% 50% no-repeat;
    mask-size: 80%;
    transition: background-color .3s ease-out;
}

.datepicker-toggle:hover .datepicker-toggle-button {
    background-color: #2d3436;
}

.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.data-block .title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 30px 0;
}

.data-block:last-child {
    margin-bottom: 100px;
}

.objects-grid {
    display: grid;
    gap: 10px;
    margin: 10px 45px;
}

.events {
    grid-template-columns: repeat(4, 1fr);
}

.objects-grid .empty {
    font-weight: 500;
    color: #3e3e3e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 5;
}

.object {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*height: 125px;
    width: 175px;*/
    background: #36BCDA;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: inset 0 0 0 100px #ffffff00, 0 10px 10px -10px #00000050, 0 -10px 10px -10px #FFFFFF50;
    transition: background .3s ease-out, box-shadow .3s ease-out;
}

.object:hover {
    box-shadow: inset 0 0 0 100px #ffffff2e, 0 10px 10px -10px #00000050, 0 -10px 10px -10px #FFFFFF50;
}

.event {
    /*height: 125px;
    width: 175px;*/
    background: #36BCDA;
}

.event .name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.entities {
    grid-template-columns: repeat(3, 1fr);
}

.entity {
    padding: 24px;
    /*height: 180px;
    width: 270px;*/
    aspect-ratio: 6/4;
    background: #ED4D87;
    justify-content: space-between;
}

.entity.blue {
    background: #36BCDA;
}

.entity.blue:hover {
    background: #43d6f1;
}

.entity.green {
    background: #60DA36;
}

.entity.green:hover {
    background: #71f64a;
}

.entity.red {
    background: #ED4D87;
}

.entity.red:hover {
    background: #ef76a3;
}

.entity .name {
    font-weight: 600;
    font-size: 24px;
}

.entity .count {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;
    line-height: 60px;
    font-weight: 500;
    color: rgba(255,255,255, .4);
}

@media (max-width:970px) {
    .entities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:660px) {
    .content {
        align-items: center;
    }

    .user {
        margin: 0;
        max-width: 400px;
        flex-direction: column;
    }

    .user .controls {
        opacity: 50%;
        width: 100px;
        height: 50px;
        align-self: center;
        margin-left: auto;
        margin-right: 20px;
    }

    .user img.photo {
        margin-bottom: 10px;
    }

    .entities {
        grid-template-columns: repeat(1, 1fr);
    }
}