<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная - АГУ СПОРТ</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="img/asu-clr.png" alt="Астраханский Государственный Университет" id="asu-logo">
                <div class="description">
                    Астраханский<br>
                    государственный<br>
                    университет<br>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a class="selected" href="#">Объекты</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="auth">
                <a href="#" id="sign-in">войти</a>
                <a href="#" id="sign-up">зарегистрироваться</a>
            </div>
        </div>
        <div class="content">
            <div class="brief">
                <div class="title">СПОРТ</div>
                <div class="description">
                    Данный ресурс предоставляет  информацию о спортивных объектах АГУ,
                    мероприятиях с ними связанных, а также дает возможность осуществлять
                    бронирование тех или иных объектов на интересующее Вас время
                </div>
            </div>
<!--            <div class="objects">
                <div class="object">
                    <div class="title">Бассейн</div>
                    <div class="time-range">7:00-21:00</div>
                    <div class="point days">
                        <div class="label">Наименее загруженные дни:</div>
                        <div class="days-list">
                            <div class="day">пн</div>
                            <div class="day">чт</div>
                            <div class="day">пт</div>
                        </div>
                    </div>
                    <div class="point average-cost">
                        <div class="label">Средняя стоимость занятия:</div>
                        <div class="cost">200 ₽</div>
                    </div>
                </div>
            </div>-->
            <div id="sport-objects-view" class="objects">
                <div v-for="sportObject in sportObjects" class="object" v-bind:class="sportObject.backgroundClass">
                    <div class="title">{{ sportObject.objectName }}</div>
                    <div class="time-range">7:00-21:00</div>
                    <div class="point days">
                        <div class="label">Наименее загруженные дни:</div>
                        <div v-if="sportObject.days" v-for="day in sportObject?.days" class="days-list">
                            <!--                            @*<div class="day">пн</div>
                                                        <div class="day">чт</div>
                                                        <div class="day">пт</div>*@-->
                            <div class="day">{{ day?.name }}</div>
                        </div>
                        <div class="days-list" v-else>
                            <div class="day null">нет данных</div>
                        </div>
                    </div>
                    <div class="point average-cost">
                        <div class="label">Средняя стоимость занятия:</div>
                        <div class="cost">200 ₽</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 895" fill="none">
            <path d="M0 0.5C0 0.5 320.363 223.029 601.5 198.5C882.637 173.971 985.138 117 1365.5 117C1745.86 117 1920 346.637 1920 346.637V446C1920 446 1524.5 346.637 1224 495.5C923.5 644.363 923.618 821.195 531.68 831.708C139.742 842.22 0 895 0 895V0.5Z" fill="url(#paint0_linear_62_0)"/>
            <defs>
                <linearGradient id="paint0_linear_62_0" x1="198.5" y1="488.5" x2="1920" y2="633.5" gradientUnits="userSpaceOnUse">
                    <!--<stop id="bg-start-color" stop-color="#F45151" offset="0"/>
                    <stop id="bg-stop-color" offset="1" stop-color="#B81919"/>-->
                    <stop id="bg-start-color" offset="0"/>
                    <stop id="bg-stop-color" offset="1"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textfit/2.4.0/textFit.min.js"></script>
    <script src="js/sport_objects_on_main_page.js"></script>
</body>
</html>