* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ruda', sans-serif;
}

.container {
    display: flex;
    margin: 10vh 8vw 10vh 0;
    height: 80vh;
}


.panel {
    display: flex;
    width: 100px;
    min-width: 100px;
    background: #000;
    color: #fff;
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
    margin-left: 8vw;
    margin-right: 5vw;
}

.panel a {
    color: #fff;
    transition: color .3s ease-in-out;
}

.panel a:hover {
    color: #f0f0f0;
    transition: color .3s ease-in-out;
}

.panel a#view_link {
    margin: 5px 0 0 20px;
    font-size: 12px;
    text-decoration: none;
}

.panel a#logo {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin: 25px 0 0 20px;
}

.view {
    /* background-color: #cdd9e0;
    border-radius: 30px; */
    /* margin-left: 5vw; */
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.block {
    width: 100%;
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
}

#tables_block {
    flex: 0 0 55%;
}

#stat_block {
    flex: 0 0 43%;
}

.block_title{
    font-weight: 900;
    font-size: 24px;
    flex: 0 0 30px;
    padding: 1% 0 1% 5px;
}

.tables_set {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 0;
    /* justify-content: space-between; */
}

.table_block {
    background: linear-gradient(145.83deg, #f1f4f7 10.08%, #dde5eb 107.8%);
    border-radius: 30px;
    margin-right: 2%;
    height: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    /* background: linear-gradient(145.83deg, #e7ecee 10.08%, #d8e8f0 107.8%); */
    background: linear-gradient(145.83deg, #f1f4f7 10.08%, #dde5eb 107.8%);
    width: 270px;
    min-width: 200px;
    justify-content: space-between;
    box-shadow: inset 0 0 0 0 #dee8ec;
    transition: box-shadow .3s ease-in-out;
    /* transition: box-shadow .3s ease-in-out, width .3s ease-in-out; */
}

.table:hover {
    box-shadow: inset 0 0 0 8px #d3dde0;
    /*transition: box-shadow .3s ease-in-out;*/
    /* width: 290px; */
    /* transition: box-shadow .3s ease-in-out, width .3s ease-in-out; */
}


.table:active {
    box-shadow: inset 0 0 0 12px #b7cbd1;
    /*transition: box-shadow .3s ease-in-out;*/
    /* width: 290px; */
    /* transition: box-shadow .3s ease-in-out, width .3s ease-in-out; */
}

.table.disabled {
    color: #555555;
    background: linear-gradient(145.83deg, #f9fbfd 10.08%, #eff5f8 107.8%);
}

.table.disabled:hover {
    box-shadow: none;
}

.table.disabled:active {
    box-shadow: none;
}

.table_title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15%;
    width: 70%;
    flex: 0 0 60px;
    word-break: break-all;
    text-decoration: none;
    color: #111;
    transition: color .3s ease-in-out;
}

.table:hover .table_title {
    color: #333;
    /*transition: color .3s ease-in-out;*/
}

.table.disabled .table_title {
    color: #555555;
}

.table.disabled:hover .table_title {
    color: #555555;
}

.table_description {
    font-size: 12px;
    margin-bottom: 15%;
    width: 70%;
    word-break: break-all;
}

.extra_block {
    align-items: center;
    display: flex;
    background: #ECF1F5;
    width: 100px;
    min-width: 80px;
    transition: background-color .3s ease-out;
    cursor: pointer;
}

.extra_block:hover {
    background: #f2f7fc;
    /*transition: background-color .3s ease-in-out;*/
}

.extra_block path {
    fill: #cbd5d8;
    stroke: #cbd5d8;
    transition: all .3s ease-out;
}

.extra_block:hover path {
    fill: #d4e1e4;
    stroke: #d4e1e4;
    /*transition: all .3s ease-in-out;*/
}

.extra_block svg {
    margin: 0 auto;
    /* stroke: #D9E3E5;
    transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out; */
}

#wide_block {
    width: 100%;
}

#other_tables_block path {
    fill: none;
}
/* 
#extra_block svg:hover {
    stroke: rgb(238, 244, 247);
} */

.empty {
    display: flex;
    align-items: center;
    background: linear-gradient(145.83deg, #EFF3F4 10.08%, #E0EBF0 107.8%);
    border-radius: 30px;
    /*width: 270px;*/
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.empty p {
    margin: 0 auto;
    color: #b4bfc2;
}

#dash_info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #c8c8c8;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
}

.no_tables_text {
    display: flex;
    align-items: center;
    background: linear-gradient(145.83deg, #EFF3F4 10.08%, #E0EBF0 107.8%);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #b4bfc2;
}

.no_tables_text p {
    width: 100%;
}

.profile {
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    font-family: Roboto Mono, sans-serif;
}

.username {
    margin-right: 10px;
}

a.logout {
    text-decoration: none;
    color: #9e133a;
    transition: color .3s ease-out;
}

a.logout:hover {
    color: #fc225f;
}
